[Unit]
Description=SUITS API server

[Service]
Type=notify
NotifyAccess=main
User=api
WorkingDirectory=%h/SUITSApi
ExecStart=/usr/bin/node dist/app.js

[Install]
WantedBy=multi-user.target
